.tt-spacing-top-8{
    margin-top:8px;
}

.tt-spacing-top-12{
    margin-top:12px;
}

.tt-spacing-top-16{
    margin-top:16px;
}

.tt-spacing-top-24{
    margin-top:16px;
}

.tt-spacing-top-36{
    margin-top:36px;
}
